<!DOCTYPE HTML>
<html>
<head>
    <title>FirstSpringApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>hello User</div>
<a href="/main">На главную</a>
</body>
</html>